@tailwind base;
@tailwind components;
@tailwind utilities;

.Category-overlay {
    background: rgba(238, 233, 233, 0.5); /* Adjust opacity as needed */
}

@keyframes pop-up {
    0% {
      transform: scale(0.9);
      opacity: 1;
    }
    60% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  

.animate-shiver {
    animation: pop-up 0.5s ease-in-out;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}


  
